
.container {
    /* display: flex;
    flex-direction: column; */
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
    position: absolute;
    top: 55%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    
}

.row {
    display: flex;
    flex: auto;
}

.tile {
    flex: 1;
    border: 1px solid black;
}

.color {
    background: cornflowerblue;
}